body
{
    margin: 0;
    padding: 0;
    background: #000000;
    font-size: 0;
}

p
{
    margin: 0;
}

/* ----- Container/first window ----- */

.container
{
    display: flex;
    justify-content: center;
}

.theme
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 33.33vw;
    height: 100vh;
    overflow: hidden;
}

.theme .background
{
    height: 100vh;
}

.gradient
{
    opacity: 0;
    transition: 0.5s;
}

/* ---- differents theme in the portfolio ---- */

/* --- dev --- */

.dev
{
    background: #5577A3;
    transition: 1s;
}

.dev .background
{
    opacity: 30%;
}

.dev .element
{
    position: absolute;
    top: 15vh;
    left: 0;
    width: 33.33vw;
}

.dev:hover .gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(63.61% 63.61% at 50% 36.39%, rgba(0, 0, 0, 0) 51.35%, rgba(0, 0, 0, 0.69) 100%);
    opacity: 1;
    transition: 0.5s;
}

/* --- ui-ux --- */

.ui-ux
{
    background: #C54A1C;
    transition: 1s;
}

.ui-ux .background
{
    width: 33.33vw;
}

.ui-ux .element
{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 33.33vw;
}

.ui-ux:hover .gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(63.61% 63.61% at 50% 36.39%, rgba(0, 0, 0, 0) 51.35%, rgba(0, 0, 0, 0.69) 100%);
    opacity: 1;
}

/* --- photo editor --- */

.editor
{
    background: green;
    transition: 1s;
}

.editor .element
{
    position: absolute;
    top: 20vh;
    left: 0;
    width: 33.33vw;
}

.editor:hover .gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(63.61% 63.61% at 50% 36.39%, rgba(0, 0, 0, 0) 51.35%, rgba(0, 0, 0, 0.69) 100%);
    opacity: 1;
    transition: 0.5s;
}

/* - texte - */

.theme-name
{
    position: absolute;
    bottom: 0;
    margin-bottom: 56px;
    font-family: 'Comfortaa';
    font-size: 32px;
    color: #ffffff;
}

/* ----- next window ----- */

.next-window
{
    position: relative;
    height: 100vh;
}

.release
{
    opacity: 0.3;
}

.description
{
    opacity: 0.7;
}

/* ---- dev window ---- */

.next-window .dev-window
{
    display: block;
    padding: 56px 80px;
    background: #111111;
    color: #ffffff;
    overflow: hidden;
}

.dev-window .title-window
{
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 600;
}

.dev-window .sub-title
{
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 400;
}

.dev-window .about
{
    margin-top: 80px;
    text-align: center;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 300;
}

.dev-window .image
{
    width: 400px;
}

.dev-window p
{
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 300;
}

/* --- first work --- */

.dev-window .first-workpage 
{
    position: relative;
    margin-top: 80px;
    padding: 8px 8px 8px 8px;
    border: #888888 solid 1px;
}

.dev-window .first-workpage .title
{
    position: absolute;
    top: 0;
    left: 450px;
}

.dev-window .first-workpage .description
{
    position: absolute;
    top: 56px;
    left: 450px;
    width: 300px;
}

.dev-window .first-workpage .release
{
    position: absolute;
    left: 450px;
    bottom: 0;
    width: 300px;
}

.dev-window .first-workpage .release .image
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
}

/* --- second work --- */

.dev-window .second-workpage 
{
    position: relative;
    margin-top: 80px;
    padding: 8px 8px 8px 8px;
    height: 225px;
    background: #1a1a1a;
    border: #888888 solid 1px;
}

.dev-window .second-workpage .title
{
    position: absolute;
    top: 0;
    right: 450px;
    width: 300px;
}

.dev-window .second-workpage .description
{
    position: absolute;
    top: 56px;
    right: 450px;
    width: 300px;
}

.dev-window .second-workpage .release
{
    position: absolute;
    right: 450px;
    bottom: 0;
    width: 300px;
}

.dev-window .second-workpage .second-work
{
    position: absolute;
    right: 5px;
    width: 400px;
}

/* --- partiel work --- */

.dev-window .partiel-workpage 
{
    position: relative;
    margin-top: 80px;
    padding: 8px 8px 8px 8px;
    border: #888888 solid 1px;
}

.dev-window .partiel-workpage .title
{
    position: absolute;
    top: 0;
    left: 450px;
}

.dev-window .partiel-workpage .description
{
    position: absolute;
    top: 56px;
    left: 450px;
    width: 300px;
}

.dev-window .partiel-workpage .release
{
    position: absolute;
    left: 450px;
    bottom: 0;
    width: 300px;
}

.dev-window .partiel-workpage .release .partiel-work
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
}

/* --- first-intensive work --- */

.dev-window .first-intensive-workpage 
{
    position: relative;
    margin-top: 80px;
    padding: 8px 8px 8px 8px;
    height: 225px;
    background: #1a1a1a;
    border: #888888 solid 1px;
}

.dev-window .first-intensive-workpage .title
{
    position: absolute;
    top: 0;
    right: 450px;
    width: 300px;
}

.dev-window .first-intensive-workpage .description
{
    position: absolute;
    top: 56px;
    right: 450px;
    width: 300px;
}

.dev-window .first-intensive-workpage .release
{
    position: absolute;
    right: 450px;
    bottom: 0;
    width: 300px;
}

.dev-window .first-intensive-workpage .first-intensive-work
{
    position: absolute;
    right: 5px;
    width: 400px;
}

/* ---- ui-ux window ---- */

.next-window .ui-ux-window
{
    display: none;
    padding: 56px 80px;
    background: #330000;
    color: #ffffff;
    overflow: hidden;
}

.ui-ux-window p
{
    margin-bottom: 24px;
    font-family: 'Oswald';
    font-size: 16px;
    color: #ffffff;
}

.ui-ux-window .title-window
{
    margin-bottom: 0;
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 600;
}
.ui-ux-window .sub-title
{
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 400;
}

.ui-ux-window .about
{
    margin-top: 80px;
    text-align: center;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 300;
}

.ui-ux-window .image
{
    left: calc(50% - 25vw);
    width: 50vw;
}

.ui-ux-window .netflix
{
    position: relative;
    margin: 56px;
    text-align: center;
}

/* ---- photo editor window ---- */

.next-window .editor-window
{
    display: none;
    padding: 56px 80px;
    background: #000011;
    color: #ffffff;
    overflow: hidden;
}

.editor-window p
{
    margin-bottom: 24px;
    font-family: 'Oswald';
    font-size: 16px;
    color: #ffffff;
}

.editor-window .title-window
{
    margin-bottom: 0;
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 600;
}
.editor-window .sub-title
{
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 400;
}

.editor-window .about
{
    margin-top: 80px;
    text-align: center;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 300;
}

.editor-window .deiti-image
{
    left: calc(50% - 25vw);
    width: 50vw;
}

.editor-window .deiti
{
    position: relative;
    margin: 56px;
    text-align: center;
}