body
{
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    justify-content: center;
}

.theme
{
    position: relative;
    width: 33.33vw;
    height: 100vh;
    overflow: hidden;
}

.theme .background
{
    height: 100vh;
}

.dev
{
    background: #5577A3;
}

.dev .background
{
    opacity: 30%;
}

.dev .element
{
    position: absolute;
    top: 15vh;
    left: 0;
    width: 33.33vw;
}

.ui-ux
{
    background: #C54A1C;
}

.ui-ux .background
{
    width: 33.33vw;
}

.ui-ux .element
{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 33.33vw;
}

.editor
{
    background: green;
}

.editor .element
{
    position: absolute;
    top: 20vh;
    left: 0;
    width: 33.33vw;
}